// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo_form {
   font-weight: bold;
   font-size: 10pt;
   background-color: #4A9500;
   border: 1px solid #333333;
   width: 100%;
   margin: 3px;
}
